@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
/*classes génériques  */
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.center-x{
    justify-content: center;
}

.center-y{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

ul li{
    padding: 10px;
    margin: 0;
}

/* Menu */

.menu{
    padding: 20px 10%;
    color: white;
    background-color: cadetblue;
}

.menu a{
    color: white;
}

/* En tête */



/* Section de boites */



/* pied de page */