@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.menu{
    color: white;
    background: linear-gradient(90deg, #11178f, #6d118f);
    display: flex;
    padding: 20px 10%;
    justify-content: space-between;
}

.menu a{
    color: white;
    padding: 0 20px;
}

.connection{
    display: flex;
}

.reseau{
    background: hsl(182, 58%, 52%);
    display: flex;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: flex-end;
}

.reseau a{
    font-weight: bolder;
    text-transform: uppercase;
}

.logoreseau, .menu div, .reseau div:first-of-type{
    padding: 0 20px;
}

.boite{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
    justify-content: center;
}

.boite div{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boite div:first-of-type{
    background: chocolate;
    order: 1;
}

.boite div:nth-of-type(2){
    background: coral;
}

.boite div:nth-of-type(3){
    background: cornflowerblue;
}

.boite div:nth-of-type(4){
    background: darkblue;
}

.boite div:last-of-type{
    background: darkred;
    order: -1;
}